
body {
    background-color: #f9fafc;
    font-family: "Open Sans";
    margin: 0px;
}
ul {
    color:#69696a;
    font-family: "Open Sans";
    margin-right: 0px;
    box-align: right;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

p{
    color:#69696a;
    border-left: 5px solid #000;
    padding-left: 25px;
    display: absolute;
    font-family: "Open Sans";
    margin: 10px;
    margin-left: 30px;
}

ol{
    padding-top: 5px;
}

h4{
    color:#000;
    font-family: "Open Sans";
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
}

h3{
    color:#000;
    font-family: "Open Sans";
    font-size: xx-large;
    margin-left: 15px;
}

nav a{
    color:#69696a;
    font-family: "Open Sans";
    display: inline-flex;
    list-style-type: none;
    text-decoration: none;
    margin-left: 10px;
    position: relative;
    left:700px;
    }

 h5 {
    color:#000;
    position: initial;
    display: flex;
    font-family: "Open Sans";
    font-size: medium;
    margin-top: 0%;
    margin-left: 10px;
    float:left;
    align-content: flex-start;
  
    
}
footer{
    background-color: rgba(247, 193, 162, 0.7);
    width:100%;
    position: fixed;
    bottom: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    font-family: "Open Sans";
    
}

    

button {
    color: #fff;
    background-color: #000;
    width: 98%;
    border-radius: 75px;
    border-color:#000;
    padding: 10px 5px;
    font-family: "Open Sans";
    font-size: large;
    margin: 15px;

}
